@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<br>
<br>
<address>

    Irvine<br />
    California<br />
    <abbr title="Phone">P:</abbr>
    562.393.0313
</address>

<address>
    <strong>Support:</strong> <a href="mailto:gino_benitez@live.com">gino_benitez@live.com</a><br />

</address>
